RewriteEngine on

RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_URI} ^/cms/$
RewriteRule (.*) vendor/mathsgod/puxt-vx/www/index.html [END]

RewriteCond %{REQUEST_URI} ^/cms/api/
RewriteRule (.*) index.php [END]

RewriteRule ^$ vendor/mathsgod/puxt-vx/www [L]
RewriteRule (.*) vendor/mathsgod/puxt-vx/www/$1 [L]


Require all granted